#timer{
  /* width: 40%;
  margin: 200px auto; */
  width: 200px;
  margin: 0 auto;
  margin-top: 200px;
  height: 200px;
  border: 1px solid #1F1B2E;
  padding: 33px;
  position: relative;
}

#svg{
  transform: scaleX(-1) rotate(-90deg);
  overflow: visible;
}

#svg circle {
  stroke: #322C61;
  stroke-width: 6;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
}

#svg #bar {
  stroke: #5550FF;
  filter: drop-shadow(0px 4px 30px #5550FF);
  stroke-linecap: round;
}

.widget{
  position: relative;
  width: max-content;
  /* height: max-content;
  margin: 0 auto;
  margin-top: 40%; */
}

#text{
  text-align: center;
  font-size: 3em;
  margin-bottom: -63%;
  margin-top: 30%;
}

.icon.timer{
  position: absolute;
  z-index: 1;
}

#start{
  top: 77px;
  left: 94px;
}

#pause{
  left: 83px;
  top: 70px;
}

#coffee{
  left: 83px;
  top: 70px;
}

#breakOptions{
  text-align: center;
  margin-bottom: -69.5%;
  margin-top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clockIcon{
  margin-left: 20px;
}

#meditationIcon{
  margin-right: 9px;
  margin-left: -9px;
}