#timer{
  width: 200px;
  margin: 0 auto;
  margin-top: 200px;
  height: 200px;
  padding: 33px;
  position: relative;
  text-align: center;
}

.widget{
  position: relative;
}

#countdown {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%,-50%);
}

#text{
  text-align: center;
  font-size: 3em;
  margin-bottom: 10px;
}

/* .icon.timer{
  position: absolute;
  z-index: 1;
} */

#start{
  padding: 8px;
}

#coffee{
  left: 83px;
  top: 70px;
}

#breakOptions{
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%,-50%);
  font-size: 1.3em;
}

#break-text {
  margin: 5px;
}

/* #clockIcon{
  margin-left: 20px;
} */

#meditationIcon{
  margin-right: 9px;
  margin-left: -9px;
}