#settingsMenu{
  width: 310px;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%,0%);
}

.heading{
  font-size: 1.3em;
}

.optionsText{
  font-size: 18px;
}

.optionsValue{
  position: absolute;
  right: 0;
}

.optionsValue input[type="text"] {
  width: 30px;
  text-align: right;
  margin-right: 5px;
  background-color: #1F1B2E;
  color: white;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid white;
  padding: 0 5px;
}

.optionsValue input[type="range"]::-moz-range-thumb {
  height: 10px;
  width: 10px;
}

.optionsValue input[type="range"]::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
}

.menu-input-value {
  width: 25px;
  display: inline-block;
  text-align: right;
}

input:focus, input:focus-visible{
  outline: 1px solid #E0E0E1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#settings-footer {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid #E0E0E1;
  padding-top: 10px;
  padding-bottom: 50px;
}

.settings-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.settings-link-text {
  margin-left: 10px;
}