#meditation-display #bar {
  transform-origin: center center;
}

#breath-label{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 1.8em;
  width: max-content;
}

@keyframes inhale {
  from {
    r: 120px;
  }
  to {
    r: 220px;
  }
}

@keyframes exhale {
  from {
    r: 220px;
  }
  to {
    r: 120px;
  }
}